body {
 
        background-color: rgb(228, 227, 227);
        margin: 0 auto;
        width: 600px;
        font-family: "Smythe", serif;
} 




.header-img{
    background-image: url(./resources/images/header.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 167px;
}
.your-order-section {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
}

.header-txt{
    color: white;

    font-weight: 400;
    font-size: 23px;
    line-height: 13.8px;
}

.header-txt p{
    align-items: center;
    height: 50px;
    
}
.menu-items-list{
    padding: 0 0 50px;
    position: relative;
    z-index: 0;
}
.menu-items{
    display: flex;
    width: 600px;
    /* height: 200px; */
    /* background-color:white; */
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px 0;
}
.add-to-cart-btn,
.menu-items-img ,.menu-item-name{
    flex: 0 0 auto;
    
}
.menu-items-img p span{
    font-size: 70.72px;
}

.menu-items-txt, .item-remove-btn{
    flex: 1;
    padding-left: 36px;
    font-weight: 400;
    font-family: "Smythe", serif;
    line-height: 12px;
}
.menu-item-name{
    font-size: 28px;
}
.menu-item-ingredients, .item-remove-btn{
    font-size: 12px;
    color: #8B8B8B;
   
}

ul{
    list-style-type: none;
  
}

.menu-item-price{
    font-size: 20px;

}
.add-to-cart-btn {  
    display: flex;
    width: 50px;
        height: 50px;
        border: 1px solid #8B8B8B;
        align-items: center;
        justify-content: center;
        border-radius:50% ;
        cursor: pointer;
        margin-top: 28px;
}

.content-body-sections{
    background-color: white;
    margin: 0 auto;
    width: 600px;
}


.order-items-list P{
        text-align: center;
        margin: 0;
       
}

.order-item-list-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}
.left-side-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.order-item-list-content .item-remove-btn{
padding-left: 10px;
cursor: pointer;
}
.product-items-total-price{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
/* .product-items-total-price button{
    padding: 10px 10px;
    margin: 20px;
    display: block;
} */
.buy-btn{
    width: 550px;
    margin:20px;

}

/* Card details css */

.details-card h2 {
    text-align: center;
}

.container-card {
    width: 524px;
    height: 542px;
    background: white;
    box-shadow: 3px 3px 30px black;
    margin: auto;
    border-radius: 3.8px;

}

.details-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    gap: 4px;
}

.details-card input {
    /* outline: none; */
    padding: 10px;
    border-radius: 3px;
    /* border-color: rgb(255, 255, 255); */
}

.details-card input:focus {
    color: chocolate;
    outline: none;
    border-color: burlywood;
    background-color: white;
}

.btn {
    background-color: #16DB99;
    padding: 10px;
    border-radius: 3px;
    margin-top: 24px;
}

.class-card-details{
    display: none;
    position: absolute;
    bottom: -70px;
    right: 510px;
    height: 600px;
    align-items: center;
    z-index: 2;
}