body {
 
        background-color: rgb(228, 227, 227);
        margin: 0 auto;
        width: 600px;
        font-family: "Smythe", serif;
} 




.header-img{
    background-image: url(./resources/images/header.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 167px;
}
.your-order-section {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
}

.header-txt{
    color: white;
    font-weight: 400;
    font-size: 23px;
    line-height: 13.8px;
}
.menu-items-list{
    padding: 0 0 50px;
}
.menu-items{
    display: flex;
    width: 600px;
    /* height: 200px; */
    /* background-color:white; */
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px 0;
}
.add-to-cart-btn,
.menu-items-img ,.menu-item-name{
    flex: 0 0 auto;
    
}
.menu-items-img p span{
    font-size: 70.72px;
}

.menu-items-txt, .item-remove-btn{
    flex: 1;
    padding-left: 36px;
    font-weight: 400;
    font-family: "Smythe", serif;
    line-height: 12px;
}
.menu-item-name{
    font-size: 28px;
}
.menu-item-ingredients, .item-remove-btn{
    font-size: 12px;
    color: #8B8B8B;
   
}

ul{
    list-style-type: none;
  
}

.menu-item-price{
    font-size: 20px;

}
.add-to-cart-btn {  
    display: flex;
    width: 50px;
        height: 50px;
        border: 1px solid #8B8B8B;
        align-items: center;
        justify-content: center;
        border-radius:50% ;
        cursor: pointer;
        margin-top: 28px;
}

.content-body-sections{
    background-color: white;
    margin: 0 auto;
    width: 600px;
}


.order-items-list P{
        text-align: center;
        margin: 0;
       
}

.order-item-list-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
}
.left-side-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.order-item-list-content .item-remove-btn{
padding-left: 10px;
cursor: pointer;
}